.image-components
  position relative
  .drop-box
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    z-index 3
  .image-card-box
    position relative
    width 100%
    display flex
    flex-wrap wrap
    .upload-grid
      margin .5rem
      width 16rem
      height 11rem
      :global(.ant-upload)
        width 100%
        height 100%
      .icon-upload
        font-size 30px
    .card-grid
      border 1px solid #d9d9d9
      transition border .3s, background .3s
      border-radius 4px
      padding .5rem
      margin .5rem
      // 选择模式下，注入选择模式的样式
      &.mode-select
        &:hover, &.actived
          border-color #fd5a12
          background-color #fcf2ed
        &:hover
          cursor pointer
        &.actived
          cursor default
          background #fcbea3
      // 非选择模式下，显示鼠标悬浮的蒙版
      &:not(.mode-select)
        .card
          &::before
            content ''
            display block
            position absolute
            z-index 1
            top 0
            left 0
            width 100%
            height 100%
            background rgba(0, 0, 0, 0.5)
            transition all .3s
            opacity 0
          &:hover
            &::before
              opacity 1
            .buttons
              opacity 1
    .card
      background #fafafa
      position relative
      width 15rem
      height 10rem
      .image
        width 100%
        height 100%
        background center center no-repeat #f4f4f4
        background-size cover
        border-radius 2px
      // 在选择模式下，不会显示这些删除和编辑的样式
      &.deleteting
        .delete-box
          position absolute
          top 50%
          left 50%
          transform translate(-50%, -50%)
          z-index 2
          color #fff
          text-shadow 1px 1px 1px rgba(0,0,0,.6)
        &::before
          opacity 1
      .buttons
        position absolute
        z-index 2
        top 50%
        left 50%
        transform translate(-50%, -50%)
        transition all .3s
        opacity 0
        :global(.anticon)
          font-size 1.1rem
          cursor pointer
          margin-right 1rem
          color #fff
          &:last-child
            margin-right 0

