
@font-face {font-family: "saidiconfont";
  src: url('iconfont.eot?t=1490373770331'); /* IE9*/
  src: url('iconfont.eot?t=1490373770331#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1490373770331') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1490373770331') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1490373770331#saidiconfont') format('svg'); /* iOS 4.1- */
}

.saidiconfont {
  font-family:"saidiconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tupian1:before { content: "\e61e"; }

.icon-icon14:before { content: "\e660"; }

.icon-diannao:before { content: "\e6c5"; }

.icon-gth:before { content: "\e61c"; }

.icon-guanbi1:before { content: "\e61b"; }

.icon-guanbi:before { content: "\e611"; }

.icon-loupanxiangcezuoshangjiaotubiao:before { content: "\e603"; }

.icon-biaoqian:before { content: "\e7cb"; }

.icon-screen:before { content: "\e682"; }

.icon-article:before { content: "\e60b"; }

.icon-xiazai:before { content: "\e890"; }

.icon-geshou:before { content: "\e601"; }

.icon-Add:before { content: "\e618"; }

.icon-tupian-copy:before { content: "\e602"; }

.icon-fenlei:before { content: "\e657"; }

.icon-yinle:before { content: "\e605"; }

.icon-wenjianjia:before { content: "\e65e"; }

.icon-tongji:before { content: "\e742"; }

.icon-bianxie:before { content: "\e622"; }

.icon-guanli:before { content: "\e61f"; }

.icon-yinle1:before { content: "\e610"; }

.icon-tupian:before { content: "\e67e"; }

.icon-suoxiao1:before { content: "\e656"; }

.icon-renwuzhongxin:before { content: "\e600"; }

.icon-rizhi11:before { content: "\e604"; }

.icon-shangchuan:before { content: "\e619"; }

.icon-set:before { content: "\e63c"; }

