.said-editor
  position relative
  border 1px solid #CCC
  border-radius 4px
  font 16px "Helvetica Neue",Helvetica,Arial,'Microsoft Yahei',sans-serif
  .said-editor-content
    padding 1rem
    .CodeMirror-placeholder
      color #CCC
    .CodeMirror
      font 16px "Helvetica Neue",Helvetica,Arial,'Microsoft Yahei',sans-serif
      white-space pre-wrap
      word-wrap break-word
