.said-editor
  position relative
  margin 1rem
  border 1px solid #CCC
  border-radius 4px
  font 16px "Helvetica Neue",Helvetica,Arial,'Microsoft Yahei',sans-serif
  .said-editor-content
    margin 1rem
    height 12rem
    overflow-y scroll
    .said-editor-body
      border none
      outline none
      resize none
      width 100%
      white-space pre-wrap
      word-wrap break-word
      height  100%
      display block
