:global(.has-error)
  .saidEditor
    border 1px solid #f5222d
.saidEditor
  position relative
  border 1px solid #CCC
  border-radius 4px
  font 16px "Helvetica Neue",Helvetica,Arial,'Microsoft Yahei',sans-serif
  .saidEditorContent
    padding 1rem
    color rgba(0, 0, 0, 0.65)
    :global(.CodeMirror-placeholder)
      color #CCC
    :global(.CodeMirror)
      font 16px "Helvetica Neue",Helvetica,Arial,'Microsoft Yahei',sans-serif
      white-space pre-wrap
      word-wrap break-word
