.cardGrid
  position: relative
  width: 25%
  padding: 0
  text-align: center
  .gridImage
    display: flex
    height: 180px
    overflow: hidden
    font-size: 0
    img
      align-self: center
      width: 100%
  .gridMask
    position: absolute
    transition: opacity .3s;
    opacity: 0
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: rgba(0, 0, 0, .8);
    .gridIcons
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      font-size: 20px
      i
        cursor: pointer
    &:hover
      opacity: 1
