icon()
  width 1.4rem
  height 1.4rem
  cursor pointer
  img
    width 100%
    display block

.component.select-category
  icon()
  .test
    border 1px solid red
.card
  max-width 22rem
  .icon-btn
    icon()
    margin .5rem
    display inline-block
    transition all .2s ease-in-out 0s
    &:hover
      transform scale(1.2)
  // icon()